24'7 Customer Support - Chatbot/24'7 Customer Support Service - Chatbot.json
{
  "name": "24*7 Customer Support Service - Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a customer service agent to answer questions from customers about our Imtiaz Sports Shop and help users with any queries using information from the Imtiaz - FAQs document. Provide your answers professionally and in a cheerful manner. All replies must be short — 1 or 2 lines only. Do not write long answers. If a user asks for confidential or unavailable information (like revenue, ownership, or internal data), reply politely with: \"I’m afraid that detail isn’t something we share publicly, but I’d be happy to help you with something else.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -168,
        -160
      ],
      "id": "64e08146-623f-46e3-aa03-651ffba9d789",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -160
      ],
      "id": "ba196edf-8fd9-4239-8924-ebe29e92b54f",
      "name": "Chat Message",
      "webhookId": "b6657c8a-e0ed-43a1-80d9-3dc2176361b3"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1H4KN_8pLklaFyiUGMW8EP8XR0tPeR_i5qfEeK_KYjTk/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        32,
        64
      ],
      "id": "a9298a59-7127-4d38-8b39-5ff8fd17785a",
      "name": "Imtiaz - FAQS",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Yw7PDsqsdkwDUDgx",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        64
      ],
      "id": "0c66d29d-8a18-4777-b339-8c802dba117f",
      "name": "Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        64
      ],
      "id": "62245eb0-4032-4f92-aa4d-1ada4df3761a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FazlS1GMpt3FgLNF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Imtiaz - FAQS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c8e98f47-01ce-4e6d-89a6-301ad9aec946",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "211a9b3113fb1f50ccdafd8244b5d8994d8d399b72f0515cfe3acf55c2771c71"
  },
  "id": "drSF0ErzcbYIgrGc",
  "tags": []
}